{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Registro</h1>

        {% if form_errors(registrationForm) %}
            <div class="alert alert-danger">{{ form_errors(registrationForm) }}</div>
        {% endif %}

        <form action="{{ path('app_register') }}" method="post" class="mt-3">
            <div class="mb-3">
                {{ form_label(registrationForm.username, 'Nombre de Usuario', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Contraseña', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3 form-check">
                {{ form_widget(registrationForm.agreeTerms, {'label': 'Acepto los términos', 'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'Acepto los términos', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
{% endblock %}
