{% extends 'base.html.twig' %}

{% block title %}Juegos index{% endblock %}

{% block body %}
    <h1>Juegos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Votos_positivos</th>
                <th>Votos_negativos</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for juego in juegos %}
            <tr>
                <td>{{ juego.id }}</td>
                <td>{{ juego.nombre }}</td>
                <td>{{ juego.descripcion }}</td>
                <td>{{ juego.votosPositivos }}</td>
                <td>{{ juego.votosNegativos }}</td>
                <td>{{ juego.imagen }}</td>
                <td>
                    <a href="{{ path('app_juegos_show', {'id': juego.id}) }}">show</a>
                    <a href="{{ path('app_juegos_edit', {'id': juego.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_juegos_new') }}">Create new</a>
{% endblock %}
